<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.give_hand.mapper.OrderMapper">
    <insert id="insertTaskImage">
        <if test="imageUrl != null and imageUrl.size() > 0">
            INSERT INTO task_image (task_id, image_url)
            VALUES
            <foreach collection="imageUrl" item="url" separator=",">
                (#{taskId}, #{url})
            </foreach>
        </if>
    </insert>
    <select id="listMyTask" resultType="com.give_hand.entity.Task">
        SELECT
        t.*,
        img.image_url AS url
        FROM
        task t
        LEFT JOIN (
        SELECT
        task_id,
        MIN(id) AS first_image_id
        FROM
        task_image
        GROUP BY
        task_id
        ) ti ON t.id = ti.task_id
        LEFT JOIN
        task_image img ON ti.first_image_id = img.id
        <where>
            <if test="keyword != null and keyword != ''">
                and t.title like concat('%',#{keyword},'%')
            </if>
            and t.uid = #{uid}
        </where>
        order by t.create_time desc
    </select>
    <select id="listOtherTask" resultType="com.give_hand.entity.Task">
        SELECT
        t.*,
        img.image_url AS url
        FROM
        task t
        LEFT JOIN (
        SELECT
        task_id,
        MIN(id) AS first_image_id
        FROM
        task_image
        GROUP BY
        task_id
        ) ti ON t.id = ti.task_id
        LEFT JOIN
        task_image img ON ti.first_image_id = img.id
        <where>
            <if test="keyword != null and keyword != ''">
                and t.title like concat('%',#{keyword},'%')
            </if>
            and t.uid != #{uid}
        </where>
        order by t.create_time desc
    </select>
</mapper>
