<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.give_hand.mapper.OrderMapper">
    <insert id="insertTaskImage">
        <if test="imageUrl != null and imageUrl.size() > 0">
            INSERT INTO task_image (task_id, image_url)
            VALUES
            <foreach collection="imageUrl" item="url" separator=",">
                (#{taskId}, #{url})
            </foreach>
        </if>
    </insert>
    <select id="listMyTask" resultType="com.give_hand.entity.Task">
        select * from task
        <where>
            <if test="keyword != null and keyword != ''">
                and title like concat('%',#{keyword},'%')
            </if>
            and uid = #{uid}
        </where>
        order by create_time desc
    </select>
    <select id="listOtherTask" resultType="com.give_hand.entity.Task">
        select * from task
        <where>
            <if test="keyword != null and keyword != ''">
                and title like concat('%',#{keyword},'%')
            </if>
            and uid != #{uid}
        </where>
        order by create_time desc
    </select>
</mapper>
